<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="com.eltinsalerno.nowplaying"
    version="1.0.1">

    <engines>
        <engine name="cordova" version=">=3.0.0" />
    </engines>

    <name>NowPlaying</name>
    <keywords>lockscreen,media,now,playing</keywords>

    <description>Native lock-screen NowPlaying.</description>

    <js-module src="www/nowplaying.js" name="NowPlaying">
        <clobbers target="window.NowPlaying" />
    </js-module>

    <author>Martin Salerno</author>

    <license>MIT License</license>

    <info>NowPlaying lockscreen</info>

    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="NowPlaying">
                <param name="ios-package" value="NowPlaying" />
            </feature>
        </config-file>
        <header-file src="src/ios/NowPlaying.h" />
        <source-file src="src/ios/NowPlaying.m" />
        <framework src="MediaPlayer.framework"/>
    </platform>
</plugin>
